.bod{
    height: 100vh;
    background-image: url(img/backgr.jpg);
    background-size: cover;
    
}

.swiper-wrapper{
    margin-top: 20px;
}
li, a, button{
    font-weight: 530;
    font-size: 20px;
    color:rgb(66, 236, 245);
    text-decoration: none;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    cursor: pointer;
    align-self: left;

}
.navlist{
    list-style: none;

}
.navlist li{
    display: inline-block;
    padding: 0px 5px;
}
.navlist li a{
    transition: all 0.3s ease 0s;
    box-sizing: border-box;
    background-color:rgb(94, 12, 104) ;
    border-radius: 30px;
    padding: 1px 5px;
}
.navlist li a:hover{
    color: cyan;
}
#twi, #fel, #kur, #summr #twi3 {
    width:16vh;
    height:16vh;
    box-sizing: border-box;
    border-radius: 100px;
}

@media screen and (min-width:500px){
    #twi, #fel, #kur, #summr, #twi3 {
        width:22vw;
        height:22vw;
        box-sizing: border-box;
        border-radius: 100px;
    }
 }

   
